<div class="border-top pt-4 mt-4">
  <h5>Comments</h5>
  {% for comment in site.data.comments[page.slug] %}
  {% assign email   = comment[1].email %}
  {% assign avatar = "http://www.gravatar.com/avatar/" | append: email | append: ".jpg?s=40&d=retro" %}
  {% assign name    = comment[1].name %}
  {% assign url     = comment[1].url %}
  {% assign date    = comment[1].date %}
  {% assign message = comment[1].message %}

  <div class="border-bottom p4">
    {% if url %}
    <a href="{{url}}">
      <img 
      class="rounded-circle mr-1"
      src="{{avatar}}"
      alt="{{name}}"
      />
      <strong>{{name}}</strong>
    </a>
    {% else %}
    <img 
    class="rounded-circle mr-1"
    src="{{avatar}}"
    alt="{{name}}"
    />
    <strong>{{name}}</strong>
    {% endif %}
    <p>
      {{name}}
    </p>
  </div>
  {% endfor%}
</div>