<div class="jumbotron border-top pt-4 pb-4 mt-4">
  <h5>What did you think? post your thoughts</h5>
  <form method="POST" action="https://api.staticman.net/v2/entry/azizali/azizali.github.io/master/comments">
    <div class="form-row">
      <div class="col">
        <input name="options[redirect]" type="hidden" value="{{site.url}}{{ page.url }}">
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <label>Name</label>
        <input class="form-control" name="fields[name]" type="text" placeholder="Name">
      </div>
      <div class="col">
        <label>E-mail</label>
        <input class="form-control" name="fields[email]" type="email" placeholder="Email">
      </div>
      <div class="col">
        <label>URL (optional)</label>
        <input class="form-control" name="fields[url]" type="url" placeholder="URL">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label>Message</label>
        <textarea class="form-control" name="fields[message]" placeholder="Message"></textarea>
      </div>
    </div>
    <button class="mt-2 btn btn-primary" type="submit">Submit Comment!</button>
  </form>
</div>
