<div class="border-top pt-4 mt-4">
  <h5>Comments</h5>
  {% for comment in site.data.comments[page.slug] %}
  {% assign email   = comment[1].email %}
  {% assign avatar = "http://www.gravatar.com/avatar/" | append: email | append: ".jpg?s=45&d=retro" %}
  {% assign name    = comment[1].name %}
  {% assign url     = comment[1].url %}
  {% assign date    = comment[1].date %}
  {% assign message = comment[1].message %}

  <div class="border-bottom mt-4 p-2">
    {% if url %}
    <div class="float-left">
      <a href="{{url}}">
        <img 
        class="rounded-circle mr-2"
        src="{{avatar}}"
        alt="{{name}}"
        />
      </a>
    </div>
    <div>
      <a href="{{url}}"><strong>{{name}}</strong></a>
      <br><small>{{date | date: '%B %d, %Y'}}</small>
    </div>
    {% else %}
    <div class="float-left">
      <img 
      class="rounded-circle mr-2"
      src="{{avatar}}"
      alt="{{name}}"
      />
    </div>
    <div>
      <strong>{{name}}</strong><br>
      <small>{{date | date: '%B %d, %Y'}}</small>
    </div>
    {% endif %}
    <p>
      {{message}}
    </p>
  </div>
  {% endfor%}
</div>