<div class="btn-group d-flex justify-content-center">
  {% assign active = nil %}
  {% assign url = '/' %}
  {% if page.url == url %}
    {% assign active = 'active' %}
  {% endif %}
  <a class="btn btn-light {{active}}" href="{{url}}">Home</a>

  {% assign active = nil %}
  {% assign url = '/blog' %}
  {% if page.url == url %}
    {% assign active = 'active' %}
  {% endif %}
  <a class="btn btn-light {{active}}" href="{{url}}">Blog</a>

  {% assign active = nil %}
  {% assign url = '/about' %}
  {% if page.url == url %}
    {% assign active = 'active' %}
  {% endif %}
  <a class="btn btn-light {{active}}" href="{{url}}">About</a>
  
  {% assign active = nil %}
  {% assign url = '/principles' %}
  {% if page.url == url %}
    {% assign active = 'active' %}
  {% endif %}
  <a class="btn btn-light {{active}}" href="{{url}}">Principles</a>

  {% assign active = nil %}
  {% assign url = '/videos' %}
  {% if page.url == url %}
    {% assign active = 'active' %}
  {% endif %}
  <a class="btn btn-light {{active}}" href="{{url}}">Videos</a>
</div>
