---
layout: default_headless
---

<div class="mt-4 mb-4 pb-4 border-bottom d-flex flex-column flex-md-row justify-content-between">
  <div class="row text-center text-sm-left">
    <div class="
      col-sm-3
      col-md-3
      col-lg-2">
      <img
        style="width:100%; max-width:100px"
        class="rounded-circle"
        src="/assets/azizali.jpg" alt="Aziz Ali photo" />
    </div>
    <div class="col-sm-9
      col-md-9
      col-lg-10">
      <h1>Aziz Ali</h1>
      <p class="lead">
        Student, entrepreneur, coder, writer and minimalist
      </p>
      <a
        class="mr-3 small"
        href="https://www.quora.com/profile/Aziz-Ali">Quora</a>
      <a
        class="mr-3 small"
        href="https://www.linkedin.com/in/azizali/">LinkedIn</a>
      <a
        class=mr-3 small"
        href="https://github.com/azizali">Github</a>
    </div>
  </div>

  <div class="mt-4">
    {% include navigation.html %}
  </div>

</div>

<div>
  {{ content }}
</div>
